/* タスク詳細 */

.task_th {
  text-align: center;
  background-color: #eee;
}

#a {
  padding: 8px;
  font-size: 1.1em;
  font-weight: bold;
  text-decoration: none;
}

#a:hover {
  text-decoration: none;
}

.text {
  white-space: pre-wrap;
}
